@using DeliveryClub.Domain.Models.Enumerations;
@model ICollection<DeliveryClub.Web.ViewModels.Dispatchers.DispatcherOrderViewModel>
@{
}
<h2>Orders</h2>

<ul class="nav nav-pills nav-fill mtb-1vh" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link @(ViewBag.OrderStatus == OrderStatus.Received ? "active" : "")" asp-action="Index" data-toggle="pill" role="tab" aria-controls="pills-home">Received</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.OrderStatus == OrderStatus.Declined ? "active" : "")" asp-action="Orders" asp-route-orderStatus="@OrderStatus.Declined" data-toggle="pill" role="tab" aria-controls="pills-menu">Declined</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.OrderStatus == OrderStatus.Accepted ? "active" : "")" asp-action="Orders" asp-route-orderStatus="@OrderStatus.Accepted" data-toggle="pill" role="tab" aria-controls="pills-menu">Accepted</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.OrderStatus == OrderStatus.Courier ? "active" : "")" asp-action="Orders" asp-route-orderStatus="@OrderStatus.Courier" data-toggle="pill" role="tab" aria-controls="pills-menu">Courier</a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(ViewBag.OrderStatus == OrderStatus.Delivered ? "active" : "")" asp-action="Orders" asp-route-orderStatus="@OrderStatus.Delivered" data-toggle="pill" role="tab" aria-controls="pills-menu">Delivered</a>
    </li>
</ul>
<div class="superuser-div">
    <table class="table usercrud-div_user-table__fixed">
        <thead class="thead-dark">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Phone
                </th>
                <th>
                    Delivery address
                </th>
                @if (ViewBag.OrderStatus != OrderStatus.Delivered)
                {
                    <th>
                        Options
                    </th>
                }
            </tr>
        </thead>
        <tbody id="order-table-body">
            @foreach (var order in Model)
            {
                <tr>
                    <td>
                        <a href="@(Url.Action("Order", "Dispatcher", new { id = order.Id}))">@order.Id</a>
                    </td>
                    <td>
                        @order.Name
                    <td>
                        <a href="tel:@(order.PhoneNumber)">@order.PhoneNumber</a>
                    </td>
                    <td>
                        @order.DeliveryAddress
                    </td>
                    @if (ViewBag.OrderStatus != OrderStatus.Delivered)
                    {
                        <td>
                            @if (ViewBag.OrderStatus != OrderStatus.Declined)
                            {
                            <form asp-action="SetOrderStatus" method="post">
                                <input type="hidden" name="Id" value="@order.Id" />
                                <input type="hidden" name="OrderStatus" value="@OrderStatus.Declined">
                                <button class="btn btn-danger">Decline</button>
                            </form>
                            }
                            <form asp-action="SetOrderStatus" method="post">
                                <input type="hidden" name="Id" value="@order.Id" />
                                @switch (ViewBag.OrderStatus)
                                {
                                    case (OrderStatus.Received):
                                        {
                                            <input type="hidden" name="OrderStatus" value="@OrderStatus.Accepted">
                                            <button class="btn btn-success">Accept</button>
                                            break;
                                        }
                                    case (OrderStatus.Accepted):
                                        {
                                            <input type="hidden" name="OrderStatus" value="@OrderStatus.Courier">
                                            <button class="btn btn-success">Give to courier</button>
                                            break;
                                        }
                                    case (OrderStatus.Courier):
                                        {
                                            <input type="hidden" name="OrderStatus" value="@OrderStatus.Delivered">
                                            <button class="btn btn-success">Finish</button>
                                            break;
                                        }
                                }
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<script src="~/js/site/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/site/ion-sound/ion.sound.min.js"></script>
@{
    if (ViewBag.OrderStatus != OrderStatus.Received)
    {
        <script src="~/js/dispatcher/simpleHubConnection.js">
        </script>
    }
    else
    {
        <script src="~/js/dispatcher/complexHubConnection.js">
        </script>
    }
}
